# Aura AI Agent - Variables de Entorno

# Configuración General del Entorno (development, staging, production)
ENVIRONMENT=development

# Clave de Seguridad para el API (¡Cámbiala en Producción!)
API_KEY_SECRET=super_secret_default_key

# Configuración de Base de Datos
DATABASE_URL=sqlite:///./aura.db

# Configuración de IA
SENTIMENT_MODEL_NAME=UMUTeam/roberta-spanish-sentiment-analysis
# HF_TOKEN=tu_token_aqui_de_huggingface_si_fuera_necesario
